src-tauri/src/wsdl/testdata/cyclic_extension.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ex/cyc"
           targetNamespace="http://ex/cyc">
  <xs:complexType name="A">
    <xs:complexContent>
      <xs:extension base="tns:B">
        <xs:sequence><xs:element name="a" type="xs:string"/></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="B">
    <xs:complexContent>
      <xs:extension base="tns:A">
        <xs:sequence><xs:element name="b" type="xs:string"/></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Root" type="tns:A"/>
</xs:schema>
