src-tauri/src/wsdl/testdata/cyclic_simple_content.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ex/csc"
           targetNamespace="http://ex/csc">
  <xs:complexType name="A">
    <xs:simpleContent>
      <xs:extension base="tns:B">
        <xs:attribute name="a" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="B">
    <xs:simpleContent>
      <xs:extension base="tns:A">
        <xs:attribute name="b" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Root" type="tns:A"/>
</xs:schema>
